<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">vidly</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="nav navbar-nav flex-grow-1">
                <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link text-dark" })</li>
                <li>@Html.ActionLink("Movies", "Index", "Movies", null, new { @class = "nav-link text-dark" })</li>
                <li>@Html.ActionLink("Customers", "Index", "Customers", null, new { @class = "nav-link text-dark" })</li>
                <li>@Html.ActionLink("Privacy", "Privacy", "Home", null, new { @class = "nav-link text-dark" })</li>
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>