@model Vidly.ViewModels.MoviesViewModel

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@if (Model.Movies.Count > 0)
{
    <table class="table table-bordered table-hover">
        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td>
                    @Html.ActionLink(
                        movie.Name,
                        "Details",
                        "Movies",
                        new { id = movie.Id },
                        null
                    )
                </td>        
            </tr>
        }
    </table>
}
else
{
    <text>No customers added yet...</text>
}
